.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: white;
  margin-bottom: 20px;
}

.header h1{
  font-size: 2.4rem;
  margin: 0;
  padding: 0.6rem 2rem;
}

.header h1 span{
  font-size: 1.8rem;
}

.header .userDiv{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #dddddd;
  cursor: pointer;
  transition: all 0.5s ease;
}

.header .userDiv:hover{
  color: #dddddd;
  background: gray;
}

.header .userDiv img{
  max-height: 40px;
}
.header .userDiv span{
  font-size: 2.2rem;
}

.header .userDiv i{
  padding-bottom: 0.5rem;
  font-size: 2rem;
}

.header .userDiv .menu{
  display: none;
  position: absolute;
  width: 100%;
  right: 0px;
  bottom: -52px;
  background: white;
  z-index: 99;
}

.header .userDiv:hover>.menu{
  display: flex;
  flex-direction: column;
}

.header .userDiv .menu div{
  padding: 3px 5px;
  border-bottom: 1px solid gray;
}
.header .userDiv .menu div:hover{
  background: greenyellow;
}

.header .userDiv .menu a{
  display: block;
  font-size: 20px;
  line-height: 20px;
  color: black;
  font-weight: bold;
  text-decoration: none;
}

form {
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
  background: white;
}

form .title{
  font-size: 2.2rem;
  margin: 1rem 0;
  padding: 0;
}

form .error{
  margin: 0;
  color:red;
  font-size: 1.2rem;
  font-weight: bold;
}

form .signupsuccess{
  margin: 0;
  color:yellowgreen;
  font-size: 1.2rem;
  font-weight: bold;
}

form .forgot{
  font-size: 1.4rem;
  margin: 0.2rem 0;
}
input{
  font-size: 1.6rem;
  background-color: white;
  margin: 0.5rem 0;
  border-radius: 0.2rem;

}

input:focus{
  outline-color: greenyellow;
}

input:not([type="submit"]){
  border: 2px solid darkgray;
  padding-bottom: 4px;
}


form input[type="submit"]{
  padding: 0.2rem 0.8rem 0.2rem 0.8rem;

  transition: all 0.8s ease;
  background-color: greenyellow;
  cursor: pointer;
}

form label~input[type="submit"]{
  margin-top: 0.5rem;
}

form input[type="submit"]:hover{
  color: white;
  background-color: darkgreen;
}


#googleLogin{
  font-size: 2.6rem;
  margin: 0;
  color: darkred;
}
/*sibling selector no pre-silbling selector https://www.w3schools.com/css/css_combinators.asp*
 */

body {
  font-family: "Open Sans", sans-serif;
  color: black;
  background: lightgray;
}
*, *:before, *:after {
  box-sizing: border-box;
}
.gate{
  width: 600px;
  position: relative;
  overflow: hidden;
  background-image: url(https://media-dmg.assets-cdk.com/websites/content/0fb042f6162b40c8b78da9b6cb5b6fe6_c0x0-1200x674.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center top;
}

.gate:after{
  content: " ";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(51, 51, 51, 0.8);
}




/*3rd start*/
.tip {
  font-size: 20px;
  margin: 40px auto 50px;
  text-align: center;
}
.cont {
  overflow: hidden;
  position: relative;
  width: 800px;
  height: 550px;
  margin: 0 auto 100px;
  background: #fff;
}
.form {
  position: relative;
  width: 540px;
  height: 100%;
  transition: -webkit-transform 1.2s ease-in-out;
  transition: transform 1.2s ease-in-out;
  transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;
  padding: 20px 100px 0;
}
.sub-cont {
  overflow: hidden;
  position: absolute;
  left: 540px;
  top: 0;
  width: 900px;
  height: 100%;
  padding-left: 260px;
  background: #fff;
  transition: -webkit-transform 1.2s ease-in-out;
  transition: transform 1.2s ease-in-out;
  transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;
}
.cont.s--signup .sub-cont {
  -webkit-transform: translate3d(-540px, 0, 0);
  transform: translate3d(-540px, 0, 0);
}
.button {
  display: block;
  margin: 0 auto;
  width: 260px;
  height: 36px;
  border-radius: 30px;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
}
.img {
  overflow: hidden;
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
  width: 260px;
  height: 100%;
  padding-top: 360px;
}
.img:before {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  width: 900px;
  height: 100%;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/sections-3.jpg");
  background-size: cover;
  transition: -webkit-transform 1.2s ease-in-out;
  transition: transform 1.2s ease-in-out;
  transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;
}
.img:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}
.cont.s--signup .img:before {
  -webkit-transform: translate3d(540px, 0, 0);
  transform: translate3d(540px, 0, 0);
}
.img__text {
  z-index: 2;
  position: absolute;
  left: 0;
  top: 50px;
  width: 100%;
  padding: 0 20px;
  text-align: center;
  color: #fff;
  transition: -webkit-transform 1.2s ease-in-out;
  transition: transform 1.2s ease-in-out;
  transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;
}
.img__text h2 {
  margin-bottom: 10px;
  font-weight: normal;
}
.img__text p {
  font-size: 14px;
  line-height: 1.5;
}
.cont.s--signup .img__text.m--up {
  -webkit-transform: translateX(520px);
  transform: translateX(520px);
}
.img__text.m--in {
  -webkit-transform: translateX(-520px);
  transform: translateX(-520px);
}
.cont.s--signup .img__text.m--in {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
.img__btn {
  overflow: hidden;
  z-index: 2;
  position: relative;
  width: 100px;
  height: 36px;
  margin: 0 auto;
  background: transparent;
  color: #fff;
  text-transform: uppercase;
  font-size: 15px;
  cursor: pointer;
}
.img__btn:after {
  content: '';
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #fff;
  border-radius: 30px;
}
.img__btn span {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: -webkit-transform 1.2s;
  transition: transform 1.2s;
  transition: transform 1.2s, -webkit-transform 1.2s;
}
.img__btn span.m--in {
  -webkit-transform: translateY(-72px);
  transform: translateY(-72px);
}
.cont.s--signup .img__btn span.m--in {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.cont.s--signup .img__btn span.m--up {
  -webkit-transform: translateY(72px);
  transform: translateY(72px);
}

.sign-in {
  transition-timing-function: ease-out;
}
.cont.s--signup .sign-in {
  transition-timing-function: ease-in-out;
  transition-duration: 1.2s;
  -webkit-transform: translate3d(540px, 0, 0);
  transform: translate3d(540px, 0, 0);
}
.sign-up {
  -webkit-transform: translate3d(-800px, 0, 0);
  transform: translate3d(-800px, 0, 0);
}
.cont.s--signup .sign-up {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.icon-link {
  position: absolute;
  left: 5px;
  bottom: 5px;
  width: 32px;
}
.icon-link img {
  width: 100%;
  vertical-align: top;
}
.icon-link--twitter {
  left: auto;
  right: 5px;
}
/*3rd party ends*/


.chatRoom{
  display: flex;
  flex-direction: row;
}
/*home page start here*/

.main{
  position: fixed;
  left: 10px;
  top: 90px;
  width: 420px;
}

.main>p.title{
  margin: 5px auto;
  font-size: 18px;
  padding-left: 3px;
}


div.send{
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

div.send .emojiInput{
  font-size: 1.4rem;
  padding: 1px;
  cursor: pointer;

}
div.send input{
  margin: 0;
  flex-grow: 1;
}

div.send button{
  cursor: pointer;
  background: white;
  display: block;
  transition: all 0.5s ease;
  font-size: 1.4rem;
  width: 6rem;
  border: 2px solid gray;
  padding: 3px 0;
  border-radius: 4px;
}

div.send button:hover{
  background-color: yellowgreen;
  color: white;
}

.emojiDiv{
  position: absolute;
  bottom: -64px;
  max-width: 100%;
  display: none;
  flex-direction: row;
  flex-wrap: wrap;
  background: white;
  padding: 2px 4px;
}
.emojiDiv.open{
  display: flex;
}
.emojiDiv .emoji{
  font-size: 20px;
  cursor: pointer;
}

.msgs{
  height: 400px;
  overflow: auto;
  margin: 0 auto;
  border: 1px solid gray;
}

.msgs .msg{
  margin: 5px 2px;
  font-size: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.msgs .msg.self{
  align-items: flex-end;
}

.msgs .msg>div{
  margin: 2px 0;
  display: flex;
  justify-content: flex-start;
}

.avatar{
  text-decoration: none;
  color: gray;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}
.msgs .msg .avatar img{
  max-height: 25px;
  max-width: 25px;
}

.msgs .msg .text{
  position: relative;
  margin-left: 40px;
  padding: 1px 2px;
  background: white;
  border-radius: 5px;
}

.msgs .msg.self .text{
  background: greenyellow;
}

.msgs .msg.self .text{
  margin-right: 40px;
}

.msgs .msg .text>span{
  max-width: 330px;
  overflow-wrap: break-word;
}



.msgs .msg:not(.self) .text::before{
  position: absolute;
  color: white;
  top:2px;
  left: -6px;

  font-weight: 900;
  font-family: Font Awesome\ 5 Free;
  content: "\f0d9";
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}

.msgs .msg.self .text::after{
  position: absolute;
  color: greenyellow;
  top:2px;
  right: -6px;
  font-weight: 900;
  font-family: Font Awesome\ 5 Free;
  content: "\f0da";
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;

}

/**/
.userList{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 5px auto;
}
.userList .avatar img{
  width: 25px;
  height: 25px;
}


/*Profile page*/

.profile{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.profile .userDetails{
  width: 300px;
  padding: 5px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #aaa;
}

.profile .userDetails>p{
  margin: 2px 0;
  text-align: center;
  font-size: 14px;
}

.profile .userDetails img{
  width: 200px;
  height: 200px;
  border-radius: 100px;
  background: white;
  align-self: center;
}

.profile .userDetails .name{
  font-size: 20px;
  font-weight: bold;
}

.profile .userDetails .online{
  color: greenyellow;
}

.profile .userDetails .offline{
  color: gray;
}

.profile .userDetails button{
  cursor: pointer;
  background: white;
  display: block;
  transition: all 0.5s ease;
  font-size: 1.4rem;
  width: 12rem;
  border: 1px solid gray;
  border-radius: 4px;
}

.profile .userDetails button:hover{
  background-color: yellowgreen;
  color: white;
}

.profile .history>h2{
  margin: 0.5rem 0;
  font-size: 24px;
}

.profile .history .historymsg{
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid darkgrey;
}

.profile .history .historymsg>div{
  display: flex;
  flex-direction: row;
}

.profile .history .historymsg p{
  margin: 0.2rem 0;
  padding-right: 20px;
  font-size: 18px;
  max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
}


/*Select Box start here*/
.selectBox {
  font-size: 16px;
  display: inline-block;
  width: 240px;
  margin: 0 5px;
  background-color: transparent;
  position: relative;
  cursor: pointer;
}

.selectBox select{
  display: none;
}

.selectBox>div.options{
  z-index: 1;
  display: none;
  position: absolute;
  width: 100%;
  top:40px;
  max-height: 400px;
  overflow: auto;
  transition: all 0.5s ease;
}

.selectBox>p{
  margin: 0;
  font-size: 18px;
  padding: 4px 8px 4px 8px;
  border-bottom: 4px solid rgba(0, 0, 0, 0.3);
  transition: all 0.5s ease;
}

.selectBox>p:hover{
  background-color: #5cb85c;
  color: white;
}

.selectBox>p>i{
  position: absolute;
  right: 20px;
  top: 5px;
}



.selectBox.active>div.options {
  display: block;
}

.selectBox>div.options>p{
  z-index: 99;
  margin: 0;
  font-size: 18px;
  padding: 4px 8px 4px 8px;
  background-color: white;
  transition: all 0.5s ease;
}

.selectBox>div.options>p.selected:after{
  margin-left: 20px;
  color: #5cb85c;
  font-size: 20px;
  content: "\f121";
  display: inline-block;
  font-family: "Ionicons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-rendering: auto;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

.selectBox>div.options>p:hover{
  background-color: lightgray;
}

.selectBox>div.options>p.keySelect{
  background-color: lightgray;
}
.selectBox .search{
  position: relative;
}
.selectBox .search input{
  font-size: 14px;
  width: 100%;
}
.selectBox .search i{
  position: absolute;
  font-size: 18px;
  top:11px;
  right: 8px;
}

.select{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.newsBlock{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin-left: 460px;
  width: calc(100% - 480px);
  position: relative;
}

.newsItem{
  padding: 2px 4px;
  margin: 5px 0;
  border: 1px solid gray;
  cursor: pointer;
  transition: all 0.5s ease;
}

.newsItem:hover{
  background: white;
}

.newsItem .newsImg img{
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.newsItem .title{
  font-size: 20px;
  font-weight: bold;
  margin: 5px 3px;
}

.newsItem .description{
  font-size: 16px;
  margin: 5px 3px;
}

.newsItem  .source{
  font-size: 12px;
  margin: 2px 0;
  text-align: center;
}
.newsItem  .date{
  font-size: 12px;
  margin: 2px 0;
  text-align: center;
}


/*home Page*/
.home .homeimg{
  position: relative;
  height: 647px;
  width: 1010px;
  display: block;
  margin: 0 auto;
}

.home p{
  color: green;
  position: absolute;
  font-size: 16px;
  font-weight: bold;
  padding: 2px 4px;
  border-radius: 5px;
  background: white;
}
.home i{
  z-index: 1;
  position: absolute;
  font-size: 20px;
  color: green;
}

.home .chat{
  top: 360px;
  left: 100px;
}
.home .chatArrow{
  top: 395px;
  left: 175px;
}

.home .country{
  top: -30px;
  left: 420px;
}
.home .countryArrow{
  top: 5px;
  left: 520px;
}

.home .category{
  top: -30px;
  left: 720px;
}
.home .categoryArrow{
  top: 5px;
  left: 820px;
}

#go{
  position: absolute;
  top:300px;
  left:380px;
  padding: 8px;
  background-position: center !important;
  background-repeat: repeat !important;
  background-blend-mode: multiply !important;
  background: repeating-linear-gradient(135deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25) 1.6px, #ffffff 0.71px, #ffffff 5.66px) !important;
  cursor: pointer;
}

 #go a{
  font-size: 28px;
  font-weight: bold;
  text-decoration: none;
  padding: 4px 20px;
  color: black;
  background: white;
  transition: all 0.5s ease;
}
#go a:hover{
  color: greenyellow;
}

/*FOOTER*/
.footer{
  background: white;
  margin-top: 20px;
}

.footer h1{
  font-size: 18px;
  padding: 0.6rem 2rem;
  margin: 0;
}

.footer .icons{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 16px;
  padding-left: 2rem;
  padding-bottom: 0.6rem;
}

.footer .icons p{
  margin: 0;
}

@media only screen and (max-width: 600px) {
  .header h1 span{
    display: none;
  }

  .chatRoom{
    flex-direction: column;
    align-items: center;
  }

  .main{
    position: static;
    width: 80%;
  }

  div.send{
    position: relative;
    flex-wrap: wrap;
    justify-content: center;
  }

  .newsBlock{
    margin-left: 0;
    width: 80%;

  }

  .emojiDiv{
    width: 80%;
    padding: 0;
    margin: 0;
    bottom: 90px;
    z-index: 99;
  }

}